<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap and Javascript(EJS)</a>, by <a href="https://github.com/alexcmartins" class="text-white">Alex Cantareira Martins</a>.</p>

